@media (max-width: 750px) {
  .example-card {
    width: 100%;
    margin-bottom: 5%;
    background-color: rgba(220, 215, 219, 0.778);
  }

  img {
    width: 100%;
  }

  .quotes {
    font-weight: bold;
  }
}

@media(min-width:710px) {
  .outer {
    display: flex;
    justify-content: space-between;
    margin: 1%;
  }

  .example-card {
    background-color: rgba(220, 215, 219, 0.778);
    width: 23%;
  }

  img {
    width: 100%;
  }

  .quotes {
    font-weight: bold;
  }

  .card-title {
    font-size: 18px;
  }

}