<div class="outer">
  <mat-card class="example-card">
    <mat-card-header>
      <!-- Property Binding Example with the src attribute-->
      <div mat-card-avatar><img mat-card-image [src]="bio[0].imgURL"></div>
      <!-- Interpolaion Example - {{bio[0].name}}-->
      <mat-card-title class="card-title">{{bio[0].name}}</mat-card-title>
      <mat-card-subtitle>{{bio[0].title}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="bio[0].imgURL">
    <mat-card-content>
      <br>
      <p class="quotes">
        {{bio[0].saying}}
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar><img mat-card-image [src]="bio[1].imgURL"></div>
      <mat-card-title class="card-title">{{bio[1].name}}</mat-card-title>
      <mat-card-subtitle>{{bio[1].title}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="bio[1].imgURL">
    <mat-card-content>
      <br>
      <p class="quotes">
        {{bio[1].saying}}
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar><img mat-card-image [src]="bio[2].imgURL"></div>
      <mat-card-title class="card-title">{{bio[2].name}}</mat-card-title>
      <mat-card-subtitle>{{bio[2].title}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="bio[2].imgURL">
    <mat-card-content>
      <br>
      <p class="quotes">
        {{bio[2].saying}}
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar><img mat-card-image [src]="bio[3].imgURL"></div>
      <mat-card-title class="card-title">{{bio[3].name}}</mat-card-title>
      <mat-card-subtitle>{{bio[3].title}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="bio[3].imgURL">
    <mat-card-content>
      <p class="quotes">
        <br>
        {{bio[3].saying}}
      </p>
    </mat-card-content>
  </mat-card>
</div>
<br>

<div class="outer">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar><img mat-card-image [src]="bio[4].imgURL"></div>
      <mat-card-title class="card-title">{{bio[4].name}}</mat-card-title>
      <mat-card-subtitle>{{bio[4].title}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="bio[4].imgURL">
    <mat-card-content>
      <p class="quotes">
        <br>
        {{bio[4].saying}}
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar><img mat-card-image [src]="bio[5].imgURL"></div>
      <mat-card-title class="card-title">{{bio[5].name}}</mat-card-title>
      <mat-card-subtitle>{{bio[5].title}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="bio[5].imgURL">
    <mat-card-content>
      <p class="quotes">
        <br>
        {{bio[5].saying}}
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar><img mat-card-image [src]="bio[6].imgURL"></div>
      <mat-card-title class="card-title">{{bio[6].name}}</mat-card-title>
      <mat-card-subtitle>{{bio[6].title}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="bio[6].imgURL">
    <mat-card-content>
      <p class="quotes">
        <br>
        {{bio[6].saying}}
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar><img mat-card-image [src]="bio[7].imgURL"></div>
      <mat-card-title class="card-title">{{bio[7].name}}</mat-card-title>
      <mat-card-subtitle>{{bio[7].title}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="bio[7].imgURL">
    <mat-card-content>
      <p class="quotes">
        <br>
        {{bio[7].saying}}
      </p>
    </mat-card-content>
  </mat-card>
</div>